<div class="container-fluid">

<% if @current_user != nil %>  

  <div>
    <h2>
      Add a new picture
    </h2>

    <form action="/create_picture" method="post" class="form-horizontal" enctype="multipart/form-data">
      <div>
        <label for="name_box" class="form-label">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" class="form-control">
      </div>

      <div>
        <label for="image_box" class="form-label">
          Image
        </label>

          <input type="file" id="image" name="image" class="form-control" class="form-control">
      </div>

      <div>
        <label for="restaurant_id_box" class="form-label">
          Restaurant
        </label>

        <select name="query_restaurant" class="form-select">
          <% Restaurant.all.each do |a_restaurant| %>
            <option value="<%= a_restaurant.id %>"><%= a_restaurant.name %></option>
          <% end %>
        </select>
      </div>

      <div>
        <label for="comments_box" class="form-label">
          Comments
        </label>

        <textarea id="comments_box" name="query_comments" class="form-control"></textarea>
      </div>

      <p></p>

      <button>
        Create image
      </button>
    </form>
  </div>

<% else %>

<div class="alert alert-warning alert-dismissable" role="alert">
  Sign in to add a image.
</div>
<a href="/user_sign_in">Sign In</a>

<% end %>

</div>