<div class="container-fluid">
<h1>
  All dishes
</h1>

<div>
  <form action="/insert_dish">
    <button>
      Add a dish
    </button>
  </form>
</div>

<p></p>

<% if @list_of_dishes.count != 0 %>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @list_of_dishes.each do |a_dish| %>
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <%= a_dish.name %>
          </div>
          <img src="<%= a_dish.image %>" class="img-fluid">
          <div class="card-body">
            <p class="card-text">From: <%= a_dish.restaurant.name %></p>
          </div>
          <div class="card-footer">
            <a href="/dishes/<%= a_dish.id %>" class="card-link">Show details</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>