<div class="container-fluid">

<% if @current_user != nil %>  

  <div>
    <h2>
      Add a new restaurant
    </h2>

    <form action="/create_restaurant" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <textarea id="address_box" name="query_address" rows="2"></textarea>
      </div>

      <div>
        <label for="cuisine_box">
          Cuisine
        </label>

        <select name="query_cuisine">
          <% Cuisine.all.each do |a_cuisine| %>
            <option value="<%= a_cuisine.id %>"><%= a_cuisine.name %></option>
          <% end %>
        </select>
        (If the cuisine is not listed, <a href="/insert_cuisine">create a new cuisine</a>)
      </div>

      <div>
        <label for="rating_box">
          Rating
        </label>

        <select id="rating_box" name="query_rating">
          <% array = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
          <% array.each do |a_number| %>
            <option value="<%= a_number %>"><%= a_number %></option>
          <% end %>
        </select>
      </div>

      <div>
        <label for="comments_box">
          Add a comment
        </label>

        <textarea id="comments_box" name="query_comments" rows="3"></textarea>
      </div>

      </div>

      <button>
        Add restaurant
      </button>
    </form>
  </div>

<% else %>

<div class="alert alert-warning alert-dismissable" role="alert">
  Sign in to add a restaurant.
</div>
<a href="/user_sign_in">Sign In</a>

<% end %>

</div>